<h1>Handquake</h1>
<div class="basic-info">
<p>Handquake is an app for the Pebble smartwatch that helps you keep track of all the people you meet. Whenever you shake hands with someone, it adds them to your connections and lets you know how to contact them.
</p>
<p>If you meet someone that doesn't have the app they can search for you later by the approximate time and place they met you.</p>
<p>A cool thing by Jim, Tristan, Tony, and Zi Kai</p>
</div>
<% if user_signed_in? %>
<%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
<% else %>
<%= link_to 'Sign In', new_user_session_path %>
<% end %>
