.main-header {
    text-align: center;
    img {
        margin-top: 0px;
    }
}

.main-header-text {
    font-size: 72px;
//    font-family: 'Bebas Neue', sans-serif;
    font-weight: bold;
    color: #006679;
}

.main-header-tagline {
    font-size: 20px;
    color: #9CBDC9;
}
